{% if node.materializationType == 'table' %}

{{ stage('Insert into Satellite Table') }}

INSERT INTO {{this}}
{% for source in sources %}
    SELECT
    {% for col in source.columns %}
        {{ get_source_transform(col) }} AS "{{ col.name }}"
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}
    {{ source.join }}
{% endfor %}

{% endif %}